<!--主页上左部分-->
<div class="height-100 main-left flex flex-v">
  <div class="main-left-top flex1">
    <aside class="logo">
      <a href="/">
        <img class="avatar" src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" alt="">
        <div class="name"><%= themeConfig.siteName %></div>
        <div class="drsc"><%= themeConfig.siteDescription %></div>
      </a>
    </aside>
    <nav class="nav">
      <% menus.forEach(function(menu) { %>
      <% if (menu.openType === 'External') { %>
      <a href="<%= menu.link %>" title="<%= menu.name %>" alt="<%= menu.name %>" target="_blank">
        <div class="icon">

          <i class="iconfont" :class="'icon-'+menu.slug"></i>
        </div>
        <div class="name">
          <div class="cnname"><%= menu.name %></div>
          <div class="enname">
            <% if (menu.link === '/') { %>
            home
            <% } else { %>
            <%= menu.link.replace(/\//,'').replace(/\//g,' ') %>
            <% } %>


          </div>
        </div>
      </a>
      <% } else { %>
      <a href="<%= menu.link %>" title="<%= menu.name %>" alt="<%= menu.name %>">
        <div class="icon">
          <% if (menu.link === '/') { %>
          <i class="iconfont icon-home"></i>
          <% } else { %>
          <i class="iconfont icon-<%= menu.icon = menu.link.replace(/\//,'').split('/').pop() %>"></i>
          <% } %>
        </div>
        <div class="name">
          <div class="cnname"><%= menu.name %></div>
          <div class="enname">
            <% if (menu.link === '/') { %>
            home
            <% } else { %>
            <%= menu.link.replace(/\//,'').replace(/\//g,' ') %>
            <% } %>
          </div>
        </div>
      </a>
      <% } %>
      <% }); %>
    </nav>
  </div>
  <div class="power">Power by <a target="_blank" href="https://gridea.dev">Grida</a> Theme by <a target="_blank"
      href="https://github.com/callmesoul">CallMeSoul</a></div>
  <div class="footerInfo"><%- themeConfig.footerInfo %></div>
  <div class="social flex flex-align-center ">
    <% ['github', 'twitter', 'weibo', 'zhihu', 'facebook'].forEach((item) => { %>
    <% if (site.customConfig[item]) { %>
    <div class="flex1 text-center">
      <div class="icon"><a title="<%= item %>" alt="<%= item %>" class="iconfont icon-<%= item %>" target="_blank"
          href="<%= site.customConfig[item] %>"></a></div>
    </div>
    <% } %>
    <% }) %>
  </div>
</div>
<img src="<%= themeConfig.domain %>" style="display: none;"/>