<html>
  <head>
      <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body style="background-image: url(<%= themeConfig.domain %>/images/bg.jpg)">
      <%- include('./includes/main-left') %>

      <div class="main-right flex1">
          <div class="tags-container">
              <% tags.forEach((tag) => { %>
                <a class="tag" href="<%= tag.link %>"><%= tag.name %></a>
              <% }); %>
            </div>
      </div>
  </body>
</html>
